version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: GabrielPedreros
      MINIO_ROOT_PASSWORD: 225366373g
    volumes:
      - minio_data:/data
    restart: unless-stopped

volumes:
  minio_data:
